.navbar-custom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.p-menuitem-content:hover {
    background: #FFF;
}

.text-span{
    color: #FFF;
}

.p-menuitem-content:hover .text-span {
    color: #001F3F;
}

.p-button-navbar{
    color: #001F3F;
    background: #FFF;
}

.p-button-navbar:hover{
    background: #001F3F;
    color: #FFF;
}
